/* UNIVERSAL STYLES */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

/* PAGE HEADER STYLES*/
header {
  background-color: hsl(260, 100%, 21%);  
  height: 40em;
  border-top: 50px solid yellowgreen;
  margin-bottom: 0;
}

.co-name {
  text-transform: uppercase;
  color: yellowgreen;
}

/* begin desktop styles */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: start;
}

.grid-item1 {
  background-color: blue;
}

.grid-item2 {
  background-color: red;
}

nav ul li {
  display: inline;
  list-style-type: none;
}
/* end desktop styles */

h1 {
  color: white;
  font-size: 2.3em;
  text-align: center;
  padding: 4em 1em 0;
}

.down-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  margin-top: 4.5em;
  filter: saturate(0) invert(50%) brightness(900%);
}

.down-arrow:hover {
  border: 5px solid orange;
  border-radius: 50%;
  filter: saturate(0) invert(50%) brightness(150%);
}



/* PAGE BODY STYLES*/
main, footer {
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 0;
}

/* removes default & user agent margins from <h2>about</h2> & <h2>contact</h2>*/
section.about h2, footer p {
  margin-top: 0;
  padding-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

section {
  height: 20em;
}

h2 {
  font-size: 3em;
  color: hsla(0, 100%, 12%, 0.4);
  color: hsla(51, 27%, 24%, 0.8);
}

.about {
  padding-top: 5em;
}

p {
  padding: 0 1em;
  color: hsl(51, 27%, 24%);
}


/* PAGE FOOTER */
footer {
  background-color: hsla(0, 100%, 5%, 0.2);
  color: hsl(51, 27%, 24%);
  height: 50em;
  padding: 3em 2em 0 2em;
  text-align: left;
}

section.contact {
  padding-bottom: 10em;
  height: 0;
}

h3 {
  color: hsla(51, 27%, 24%, 0.8);
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0.1em;
}

footer section a {
  line-height: 2em;
}

[href="mailto:slydba@gmail.com"], [href="tel:+6780000000"] {
  text-decoration: none;
  color: hsl(51, 27%, 24%);
}

.footer-nav li {
  display: block;
  line-height: 2em;
  text-align: left;
  font-size: 1.5em;
}

ul.footer-nav {
  padding-inline-start: 0;
  padding: 2em 0;
}

footer hr {
  margin-left: -2em;
  margin-right: -2em;
}

small {
  text-align: center;
}

.copyright {
  font-weight: bold;
  padding: 15em 0 0;
  margin: 0;
  text-align: center;
}


/* MEDIA QUERIES */
@media screen and (max-width: 550px){
  .grid-item1 {
   display: none; 
  }

  li {
    display: none;
  }

  .grid-item2 {
    display: none;
    background-color: white;
  }
}